.container {
    margin: auto;
    width: 60%;
    padding: 20px;
    text-align: center;
}

.bookList {
    list-style: none;
    padding: 0;
}

.bookItem {
    font-size: 18px;
    margin: 10px 0;
}