.container {
    margin: auto;
    width: 80%;
    padding: 2px 16px;
    margin-top: 80px;
}

.card-container {
    border: #1e1e1e;
    display: flex;
    justify-content: space-between;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    transition: box-shadow 0.3s ease-in-out; /* Added transition */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    outline: 0;
    display: inline-block;
    padding: 8px;
    /* color: white; */
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    border-color: #1e1e1e;
    border-width: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e74c3c; /* Adjusted background color on hover */
    font-style: italic;
}

a {
    text-decoration: none;
    font-size: 22px;
}